<div class="container text-center">
  <%= form_with(model: coffee_purchase) do |form| %>
    <% if coffee_purchase.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(coffee_purchase.errors.count, "error") %> prohibited this coffee_purchase from being saved:</h2>

        <ul>
          <% coffee_purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="row justify-content-md-center">
      <div class="mb-3" style="width: 18rem;">
        <%= form.label :price, class:"form-label" %>
        <%= form.text_field :price, class:"form-control"%>
      </div>

      <div class="mb-3" style="width: 18rem;">
        <%= form.label :purchased_at, class:"form-label" %>
        <%= form.datetime_field :purchased_at, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.submit 'Submit', class:"btn btn-primary" %>
      </div>
    </div>

  <% end %>
</div>
