<div class="container text-center">
  <%-# This begins the form model for the cofee purchase%>
  <%= form_with(model: coffee_purchase) do |form| %> 
    <%-# This is where it will be checked for any errors if there are it will display an error with the message below%>
    <% if coffee_purchase.errors.any? %>  
      <div style="color: red">
        <h2><%= pluralize(coffee_purchase.errors.count, "error") %> prohibited this coffee_purchase from being saved:</h2>

        <ul>
          <% coffee_purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="row justify-content-md-center">
      <div class="mb-3" style="width: 18rem;">
        <%-# this is the label for the price %>
        <%= form.label :price, class:"form-label" %>  
        <%-# This is the input box for the price%>
        <%= form.text_field :price, class:"form-control"%>  
      </div>

      <div class="mb-3" style="width: 18rem;">
        <%-# this is the label for the purchased at variable which will store the time of purchase%>
        <%= form.label :purchased_at, class:"form-label" %>  
        <%-# This is the input box where the user can input the time of purchase%>
        <%= form.datetime_field :purchased_at, class:"form-control" %> 
      </div>

      <div class="mb-3">
        <%-# this represents the submit button which will save the data and redirect the user to the purchase that they just have submitted %>
        <%= form.submit 'Submit', class:"btn btn-primary" %>  
      </div>
    </div>

  <% end %>
</div>
