<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
<p style="color: green"><%= notice %></p>

<h1>Coffee purchases</h1>

<div id="coffee_purchases">
  <tr>
    <th>Date</th>
    <th>Daily Spending</th>
  </tr>

  <% @coffee_purchases.each do |coffee_purchase| %>
    <%= render coffee_purchase %>
    <p>
      <%= link_to "Show this coffee purchase", coffee_purchase %>
    </p>
  <% end %>
</div>

<%= link_to "New coffee purchase", new_coffee_purchase_path %>

<div>
  <p>Weekly Spending: <%= @weekly_spending %></p>
  <p>Monthly Spending: <%= @monthly_spending %></p>
</div>