<div class="container">
  <div class="container text-center">
    <div class="row">
      <h1>Coffee purchases!!</h1>
    </div>
    <div class="row">
      <%-# this variable displays the weekly spending%>
      <p>Weekly Spending: <%= @weekly_spending %></p> 
      <%-# This variable displays the monthly spending%>
      <p>Monthly Spending: <%= @monthly_spending %></p> 
    </div>
    <div class="row justify-content-center">
        <%-# This link_to has been styled to look like a button with bootstrap and will redirect to the new cofee purchase page%>
        <%= link_to "New coffee purchase", new_coffee_purchase_path, class: "btn btn-primary col-3", role: "button" %>  
    </div>
    <div class="row">
        <%-# This is the notice line, this line will show every time a change has been made like deleting a card.%>
        <p style="color: green"><%= notice %></p>  
    </div>
  </div>

  <div class="row justify-content-center row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-2" id="coffee_purchases">
    <%-# This is a loop that will go through each cofee purchase, display it's contents and place it in a bootstrap card%>
    <% @coffee_purchases.each do |coffee_purchase| %>  
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <%-# This is the part that will render the contents of the purchase%>
            <%= render coffee_purchase %> 
            
            <%-# And this is a link that will allow the user to view the coffee purchase which can then be updated or deleted%>
            <a class="card-link"> <%= link_to "Show this coffee purchase", coffee_purchase, class:"btn btn-outline-primary" %> </a>  
          </div>
        </div>
      </div>

    <% end %>
  </div>


</div>